@import "./global.css";

.global-header {
  width: 100%;
  background-color: var(--primary-color);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: var(--medium-spacing-02) var(--big-spacing-02);
  z-index: 1000;
}

.global-nav {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.global-nav .logo-link {
  width: fit-content;
  height: fit-content;
  font: 100 var(--medium-spacing-01) var(--secondary-font);
  text-decoration: none;
  color: var(--secondary-color-lighter);
}

.global-nav .links-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--medium-spacing-06);
}

.nav-link {
  color: var(--auxiliary-color-03);
  text-decoration: none;
  transition: 0.4s;
}

.nav-link:hover {
  color: var(--auxiliary-color-02);
  text-shadow: 0 0 5px #fff;
}

.global-nav .select-language {
  display: flex;
  height: 1.2rem;
  gap: 1px;
  cursor: pointer;
}

#us-flag,
#brazil-flag {
  transition: 0.4s;
}

#us-flag:hover,
#brazil-flag:hover {
  box-shadow: 0 0 5px #fff;
}

.global-header .menu {
  height: var(--medium-spacing-06);
  text-align: end;
}

.global-header .menu img {
  cursor: pointer;
  height: var(--medium-spacing-06);
}

.menu-nav {
  /* background-image: linear-gradient(
    225deg,
    var(--secondary-color),
    #162b68bb,
    var(--secondary-color-medium)
  ); */
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0 0 0 var(--small-spacing-06);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 96px;
  user-select: none;
}

.menu-nav .nav-link {
  background-color: var(--secondary-color);
  text-shadow: 1px 1px 4px var(--primary-color);
  padding: var(--small-spacing-04) var(--small-spacing-06);
  cursor: pointer;
  position: relative;
}

.menu-nav .nav-link:last-child {
  border-radius: 0 0 0 var(--small-spacing-04);
}

.menu-nav .nav-link:hover {
  opacity: 0.8;
}

@media screen and (width < 920px) {
  .global-header {
    padding: var(--small-spacing-06) var(--medium-spacing-04);
  }

  .global-nav .links-div {
    display: none;
  }

  .global-nav .menu {
    display: block;
  }
}

@media screen and (width < 520px) {
  .global-header {
    padding: var(--small-spacing-04) var(--medium-spacing-01);
  }

  .global-nav .links-div {
    display: none;
  }

  .global-nav .menu {
    display: block;
  }

  .menu-nav {
    top: 80px;
  }
}
