@import "./global.css";

.hero-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 8% var(--large-spacing-06); */
  padding: 4% var(--big-spacing-02);
}

.hero-page #title {
  font: 800 var(--medium-spacing-06) / var(--large-spacing-02)
    var(--primary-font);
  margin-bottom: var(--small-spacing-06);
  font-variant: small-caps;
}

.hero-page #subtitle {
  /* width: 70%; */
  font: normal var(--small-spacing-06) var(--secondary-font);
  margin-bottom: var(--medium-spacing-02);
}
.hero-page #subtitle > span {
  font-size: var(--small-spacing-06);
}

.hero-page .titles-container > hr {
  margin-bottom: var(--big-spacing-02);
  width: 70%;
  border-radius: 100%;
  opacity: 50%;
}

.hero-page .more-info-button {
  color: var(--auxiliary-color-03);
  background-color: transparent;
  font: 700 var(--small-spacing-06) var(--primary-font);
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 6px var(--secondary-color);
  padding: var(--small-spacing-01) var(--medium-spacing-06);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.hero-page .more-info-button:hover {
  text-shadow: 0 0 1px var(--auxiliary-color-03);
  border: 1px solid var(--secondary-color-medium);
  box-shadow: 0 0 12px var(--secondary-color);
  padding: var(--small-spacing-01) var(--large-spacing-01);
}

.hero-page .usual-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--small-spacing-02);
}

.hero-page #usual-links-title {
  font: normal 1.5rem var(--secondary-font);
  margin-bottom: var(--small-spacing-04);
}

.hero-page .usual-links .link-container {
  display: flex;
  align-items: center;
  gap: var(--small-spacing-04);
}

.link-container img {
  transition: 0.4s;
}

.link-container img:hover {
  cursor: pointer;
  opacity: 50%;
  box-shadow: 0 0 5px #fff;
  border-radius: 50%;
}

@media screen and (width < 920px) {
  .hero-page {
    padding: 12% var(--medium-spacing-06);
  }

  .hero-page #title {
    font-size: var(--medium-spacing-04);
  }

  .hero-page #subtitle {
    font-size: var(--small-spacing-06);
  }

  .hero-page #subtitle > span {
    font-size: var(--small-spacing-04);
  }

  .hero-page #usual-links-title {
    font-size: var(--small-spacing-05);
    margin-bottom: var(--small-spacing-04);
  }

  .hero-page .link-container img {
    width: var(--medium-spacing-03);
  }
  .hero-page .more-info-button {
    font-size: var(--small-spacing-05);
  }
}

@media screen and (width < 700px) {
  .hero-page {
    padding: 8% var(--small-spacing-06);
  }

  .hero-page #title {
    font-size: var(--medium-spacing-02);
    line-height: 130%;
  }

  .hero-page #subtitle {
    font-size: var(--small-spacing-05);
  }

  .hero-page #subtitle > span {
    font-size: var(--small-spacing-03);
  }

  .hero-page .usual-links {
    font-size: var(--small-spacing-03);
  }

  .hero-page #usual-links-title {
    font-size: var(--small-spacing-04);
  }

  .hero-page .link-container img {
    width: var(--medium-spacing-02);
  }
  .hero-page .more-info-button {
    font-size: var(--small-spacing-04);
  }
}

@media screen and (width < 460px) {
  .hero-page .more-info-button {
    padding: var(--small-spacing-01) var(--small-spacing-04);
    text-wrap: nowrap;
  }

  .hero-page .more-info-button:hover {
    padding: var(--small-spacing-01) var(--medium-spacing-02);
  }
}
