@import "./global.css";

.infopage {
  padding: var(--large-spacing-06) var(--big-spacing-02);
}

.infopage .secondary-title {
  margin: 0 auto 6% auto;
}

.infopage .knowledge-section {
  background-color: var(--primary-color-medium);
  padding: var(--small-spacing-04) var(--small-spacing-06);
  text-align: center;
  border-radius: var(--small-spacing-06);
  border: 1px solid var(--primary-color-lighter);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.infopage .knowledge-section .knowledge-inner-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--medium-spacing-02);
  transition: 1s;
}

.infopage .knowledge-section .knowledge-box p {
  font-size: 90%;
}

.infopage .knowledge-section .knowledge-box img {
  width: 50px;
}

.infopage .next-btn {
  display: none;
}

.infopage .next-btn:active {
  -webkit-tap-highlight-color: transparent; /* Desabilitar destaque ao toque */
}

/* --- */

.infopage .curriculum-contactme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--big-spacing-02);
}

.infopage .curriculum {
  text-align: center;
  margin: auto;
}

.infopage .curriculum .curriculum-img {
  filter: brightness(0.8);
  cursor: pointer;
}

/* ----- CONTACT ME SECTION ----- */

.infopage .contact-me .contact-form {
  padding: 0 10%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--medium-spacing-04);
}

.infopage .contact-me .contact-form .text-field {
  background-color: var(--auxiliary-color-03);
  font: normal 110% Jost;
  padding: var(--small-spacing-03) var(--small-spacing-04);
  border: 0;
  border-radius: var(--small-spacing-04);
  resize: none;
}

.infopage .contact-me .contact-form #message-textarea::-webkit-scrollbar {
  width: 12px;
  border-radius: 0 var(--small-spacing-04) var(--small-spacing-04) 0;
}

.infopage
  .contact-me
  .contact-form
  #message-textarea::-webkit-scrollbar-button {
  display: none;
}

.infopage .contact-me .contact-form #message-textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-lighter);
  cursor: default;
  border-radius: 4px var(--small-spacing-04) var(--small-spacing-04) 4px;
  z-index: -1000;
}

.infopage .contact-me .contact-form #contact-button {
  color: var(--auxiliary-color-03);
  max-width: 35%;
  background-color: transparent;
  font: 700 110% Jost;
  padding: var(--small-spacing-02) 0;
  border: 1px solid var(--secondary-color);
  border-radius: var(--small-spacing-04);
  box-shadow: 0 0 4px var(--secondary-color);
  cursor: pointer;
  transition: 0.5s;
}

.infopage .contact-me .contact-form #contact-button:hover {
  border: 1px solid var(--auxiliary-color-03);
  box-shadow: 0 0 4px var(--auxiliary-color-03);
}

.infopage .email-container {
  text-align: center;
  margin-top: var(--large-spacing-06);
  display: grid;
  gap: var(--small-spacing-06);
}

.infopage .email-container > p {
  font: normal var(--small-spacing-05) var(--secondary-font);
}

.infopage .email-container .email-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--small-spacing-02);
}

.infopage .email-container .email-box > img {
  width: 30px;
}

@media screen and (width < 1200px) {
  .infopage {
    padding: var(--medium-spacing-04);
  }

  .infopage .contact-me .contact-form {
    padding: 0 5%;
  }

  .infopage .curriculum .curriculum-img {
    width: 90%;
  }
}

@media screen and (width < 960px) {
  .infopage {
    padding: var(--medium-spacing-02);
  }

  .infopage .contact-me .contact-form .text-field {
    font-size: 100%;
    padding: var(--small-spacing-03);
  }

  .infopage .knowledge-section .knowledge-box p {
    font-size: 80%;
  }

  .infopage .knowledge-section .knowledge-box img {
    width: 45px;
  }
}

@media screen and (width < 760px) {
  .infopage .curriculum-contactme {
    grid-template-columns: 1fr;
    gap: var(--medium-spacing-02);
  }

  .infopage .contact-me .contact-form {
    padding: 0 10%;
  }
}

@media screen and (width < 715px) {
  .infopage .next-btn {
    width: 8%;
    height: 150%;
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      #00000000,
      #0000002f,
      #00000077 50%,
      #000000
    );
    border: 0;
    position: absolute;
    right: -0.5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infopage .left-btn {
    background-image: linear-gradient(
      to left,
      #00000000,
      #0000002f,
      #00000077 50%,
      #000000
    );
  }
}

@media screen and (width < 390px) {
  .infopage .knowledge-section .knowledge-inner-box {
    gap: var(--small-spacing-05);
  }
  .infopage .knowledge-section .knowledge-box img {
    width: 30px;
  }
  .infopage .knowledge-section .knowledge-box p {
    font-size: 60%;
  }
}
