@import "./global.css";

.projects {
  background-color: var(--auxiliary-color-05);
  padding: var(--large-spacing-06) var(--big-spacing-02);
}

.projects .projects-section {
  background-color: var(--primary-color);
  border-radius: var(--small-spacing-04);
  padding: var(--large-spacing-02) var(--medium-spacing-04);
  overflow: hidden;
  position: relative;
}

.projects .projects-section .secondary-title {
  margin: 0 auto 6% auto;
}

.projects .projects-container {
  color: var(--auxiliary-color-04);
  width: 100%;
  border-radius: var(--small-spacing-06);
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.projects .projects-container .project-box {
  width: 80%;
  flex-shrink: 0;
  margin: 0 10%;
}

.projects .project-box .project-title {
  font: normal var(--small-spacing-06) var(--secondary-font);
}

.projects .project-box .project-image {
  background-color: var(--primary-color);
  max-width: 500px;
  height: 300px;
  margin: auto;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 2px var(--auxiliary-color-04);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: var(--small-spacing-06);
  opacity: 0.9;
  position: relative;
}

.projects .project-box .project-image:hover {
  opacity: 1;
  background-color: var(--primary-color);
}

.projects .project-box .project-link {
  text-decoration: none;
  color: var(--auxiliary-color-04);
}

.projects .project-box .project-description {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.projects .line {
  width: 8px;
  height: 4px;
  position: absolute;
  top: 8px;
}

.projects #line1 {
  background-color: var(--auxiliary-color-04);
  right: 12px;
}

.projects #line2 {
  background-color: var(--secondary-color-lighter);
  right: 32px;
}

.projects #line3 {
  background-color: var(--primary-color-lighter);
  right: 52px;
}

.projects #middle-line {
  width: calc(100% - 2px);
  height: 8px;
  opacity: 0.2;
  background-color: var(--auxiliary-color-03);
  border-radius: 0 0 8px 8px;
  top: calc(100% - 1px);
  left: 50%;
  transform: translate(-50%, -100%);
}

.projects .project-image .title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.projects button {
  width: 28.5%;
  height: 60%;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 28%;
  bottom: 12%;
  cursor: pointer;
  z-index: 10;
}

.projects .next-btn {
  right: 0;
}

.projects .prev-btn {
  left: 0;
}

@media screen and (width < 1200px) {
  .projects {
    padding: var(--large-spacing-02);
  }
}

@media screen and (width < 960px) {
  .projects {
    padding: var(--medium-spacing-06);
  }

  .projects .projects-section {
    padding: var(--medium-spacing-06) var(--medium-spacing-02);
  }
}

@media screen and (width < 780px) {
  .projects {
    padding: var(--small-spacing-04);
  }

  .projects .projects-section {
    padding: var(--medium-spacing-02) 0;
  }

  .projects .projects-section .project-title {
    font-size: var(--small-spacing-05);
  }
}

@media screen and (width < 480px) {
  .projects {
    padding: var(--small-spacing-03);
  }
  .projects .projects-section {
    padding: var(--small-spacing-04) var(--small-spacing-02);
    border-radius: var(--small-spacing-02);
  }

  .projects .projects-section .project-title {
    font-size: var(--small-spacing-04);
  }

  .projects button {
    width: 22.8%;
  }

  .projects .project-box .project-image {
    height: 350px;
  }

  .projects .project-box .project-description {
    font-size: 14px;
  }
}
